@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  --margin-xl: 4rem;
  --margin-lg: 3rem;
  --margin-md: 2rem;
  --margin-sm: 1rem;
  --margin-xs: 0.8rem;
  --margin-xxs: 0.5rem;

  --padding-xl: 4rem;
  --padding-lg: 3rem;
  --padding-md: 2rem;
  --padding-sm: 1rem;
  --padding-xs: 0.8rem;
  --padding-xxs: 0.5rem;

  font-family: "Poppins", sans-serif;
  overflow: hidden;
  background: rgb(240, 244, 248);
}

.App {
  display: flex;
}

/* remove input type nulber arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* width */
::-webkit-scrollbar {
  width: 1rem;
  height: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: rgb(3, 1, 109) !important; */
  background: #d1d1d1 !important;
  border-radius: 0px 0px 10px 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
    background: rgb(29, 29, 29) !important;
} */

.animationScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.pageCard {
  /* border-radius: 0.6rem;
    backdrop-filter: blur(0px) saturate(125%);
    -webkit-backdrop-filter: blur(0px) saturate(125%);
    background-color: rgba(255, 68, 2, 0.3);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 0.7rem; */
  border-radius: 0px;
  /* background: #abcbf0;
    box-shadow: 20px 20px 60px #d9d9d9,
        -20px -20px 60px #ffffff; */
}

.ring {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  /* border: 3px solid #3c3c3c; */
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #e71e25;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 0 0 10px #fe444b;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, .5); */
}

.ringImg {
  width: 50%;
}

.ring:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  /* border: 5px solid transparent; */
  /* border: 5px solid #002D37; */
  border-top: 4px solid #fca40af1;
  border-bottom: 4px solid #6bfa12;

  /* border-right: 4px solid #E71E25;
    border-left: 4px solid #e921dff1; */
  border-radius: 50%;
  animation: animateC 1s linear infinite;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}

.bg-dang {
  background-color: #A30808 !important;
}

.bg-succ {
  background-color: #2B6200 !important;
}

.bg-button {
  background-color: #002d37;
}

.bg-light-button {
  background-color: #94ebff !important;
}

.bg-container {
  background-color: rgb(247, 247, 247) !important;
}

/* td{
    border-bottom: black !important;
} */

.svg-font {
  font-size: 1rem !important;
}

.css-i6bazn {
  margin-left: -23px;
  margin-right: -23px;
}

.css-p9qzma {
  /* margin-left: -23px; */
  margin-right: -10px;
}

.MuiTableCell-head,
.css-1i2tz8t {
  text-align: left !important;
}

.css-1yhpg23-MuiTableCell-root,
.css-1a4b21o {
  text-align: left !important;
}

.scrollable-tabs-container .nav-tabs {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrollable-tabs-container .nav-item {
  flex: 0 0 auto;
}

.scrollable-tabs-container .nav-link {
  padding: 0.5rem 1rem;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.scrollable-content {
  max-height: 100vh;
  /* Set the desired max height */
  overflow-y: auto;
  /* Enable vertical scrolling */
  overflow-x: hidden;
}

.box-shadow {
  background: #FFFFFF;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(0, 0, 0, 0.1) !important;
  /* border-radius: 20px; */
}

.nav-tabs .nav-link {
  color: #002d37;
  border-radius: 6px;
  /* margin-right: 10px; */
  font-size: 16px;
  margin: 10px 10px 0px 0px;
  background-color: white;
  /* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1), -2px -2px 10px rgba(0, 0, 0, 0.1), inset -2px -2px 4px rgba(0, 0, 0, 0.1) !important; */
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: white;
  background-color: #002d37;
  /* background-color: #fff; */
}

.nav-tabs {
  border-bottom: none;
  align-items: center;
}

/* .nav-tabs .nav-link:hover{
  color: #b42929
} */


@media only screen and (max-width: 900px) {
  .marginLeft {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-tabs .nav-link {
    font-size: 10px;

  }
}

.scrollable-column {
  /* overflow-y: auto; */
  overflow: auto;
  max-height: 16vh;
  /* Set a maximum height if needed */
}

.scrollable-content {
  /* overflow-y: auto; */
  max-height: 100vh;
  /* Set a maximum height if needed */
}

.border-bg{
border-color: #002d37 !important;
padding: 2px !important;
}
