.operatorDashboard {
    border-radius: 10px;
    min-height: 100vh;
    padding-bottom: 1rem;
    /* background-image: url("https://static.vecteezy.com/system/resources/previews/002/056/889/non_2x/colorful-abstract-geometric-background-free-vector.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(to right, #ffffff, #f6f9ff, #e7f4ff, #d4f1ff, #bdeeff, #bdeeff, #bdeeff, #bdeeff, #d4f1ff, #e7f4ff, #f6f9ff, #ffffff); */
    /* background-image: linear-gradient(to right, #ffffff, #f1f3fe, #dce8fd, #c2e0fa, #a2d8f5, #a2d8f5, #a2d8f5, #a2d8f5, #c2e0fa, #dce8fd, #f1f3fe, #ffffff); */
    /* background: linear-gradient(213.32deg, #FEB9B9 7.27%, #FFF1D0 87.59%); */
    /* background: linear-gradient(213.32deg, #b9e5fe 7.27%, #ffd0d0 87.59%); */
    background-color: rgb(247, 247, 247) !important;
}

.left-component-main-dashboard {
    width: calc(100vw - 22rem - var(--proSideBar-width-for-calculating-main-div-width));
}

.dropDown {
    /* background: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid white; */

    display: flex;
    flex: 0.4;
    padding: 0 0 0.2rem 0 !important;
    justify-content: space-between;

}

select {
    /* border: 2px solid white; */
    border-radius: 5px;
    /* color: #E71E25; */
    color: black;
    font-weight: 550;
    font-size: 14px;
    padding: 0.1rem 0.5rem !important;
    background: rgba(214, 214, 214, 0.4);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid white;
}

.cards {
    width: 100%;
}

.subSection {
    /* width: 100%; */
    /* border: 1.5px solid rgb(203, 203, 203); */
    border-radius: 5px;
    /* background-color: #fafafa; */
    background: transparent;
}



.subSectionText {
    font-weight: 550;
    font-size: 14px;
    text-align: center;
    /* margin: 0 0.5rem !important; */
    /* border: 2px solid white; */
    width: 25%;
    background: white;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    /* border-radius: 10px 10px 0 0; */
    /* border: 2px solid white; */

    margin: 0.2rem auto -0.1rem auto;
    border-radius: 10px 10px 0 0;
    /* z-index: 999 !important; */
}


.cell {
    border-radius: 10px;
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 2px solid white;

}

.cell p {
    /* color: #fafafa; */
    margin-left: 0.5rem;
    font-weight: 550;
    margin-bottom: 0 !important;
    font-size: small;
}

.line_name {
    background-color: white;
    text-align: left;
    color: #E71E25;
    /* padding: 0.1rem 1rem; */

}

.line_name p {
    font-weight: 550;
    font-size: small;
    padding: 0 !important;
    margin: 0 !important;
}

.line {
    width: 100% !important;
    /* border: 1px solid rgb(0, 0, 0); */
    /* border-radius: 10px; */
    text-align: center;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    margin: 0.15rem;
    border: 2px solid white;
    /* background: rgba(52, 150, 255, 0.1);

    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18); */
}



.machineCard {
    /* flex: 0.8; */
    /* height: 70vh; */
    /* position: static; */
    display: flex;
    /* justify-content: space-between; */
    /* display: inline-flexbox; */
    /* max-width: 50vw; */
    /* border: 2px solid; */
    /* background-color: white; */
    text-align: center;
    /* padding: 0.5rem; */
    /* overflow: hidden; */

    /* margin: auto; */
    /* display: flex; */
    flex-direction: row;
    /* justify-content: space-evenly; */
    flex-flow: wrap;

    /* border-radius: 15px; */
    /* overflow-y: scroll; */
    /* border-radius: 10px;
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #bebebe,
        -20px -20px 60px #ffffff; */
    /* border-radius: 10px; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}

.machine {
    padding: 0.1rem;
    /* width: 3rem; */
    height: 1.5rem;
    /* flex: 0.1; */
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    /* height: 100vh; */
    /* overflow-x: hidden; */
    /* overflow-x: scroll; */
    border-radius: 5px;
    align-items: center;
    font-weight: 630;
    margin: 0.2rem 0.2rem 0.5rem 0.2rem;
    font-size: 10px;
    background: rgba(255, 255, 255, 0.4);
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); */
    /* border-radius: 10px; */
    border: 1.5px solid rgb(156, 154, 154);
    flex-wrap: wrap;
}




.machine:hover {
    background-position: right center;
    /* change the direction of the change here */
    /* color: #fff; */
    text-decoration: none;
}


@media screen and (max-width: 1024px) {
    .dropDown {
        flex: 1;
    }
}