.mtd-problem-section,
.mtd-actions-section,
.mtd-parts-section {
  //   border: 2px solid rgb(177, 177, 177);

  input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 14px !important;
    width: 80%;

    &:focus-visible {
      outline: none;
    }
  }

  button {
    max-height: 24px;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 3px;
  }
}

.mtd-parts-section {
  input[type="text"],
  input[type="number"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 14px !important;
    width: 100%;

    &:focus-visible {
      outline: none;
    }
  }
}

.text-error {
  // position: absolute;
  bottom: -23px;
  right: 95px;
  color: red;
  font-size: 14px;
}

.value {
  // padding: 2px 8px;
  // border: 1px solid #ccc;
  // border-radius: 4px;
  // background-color: #bcfdcc;
  font-size: 14px;
}
.value-box {
  padding: 2px 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  // background-color: #bcfdcc;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 3px;
  min-height: 24px;
  font-size: 14px;
}


.status-legend {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}
.status-item {
  display: flex;
  align-items: center;
  gap: 6px;
}
.color-box {
  width: 50px;
  height: 20px;
  border-radius: 4px;
}
.red { background-color: #f44336; }
.yellow { background-color: #ffeb3b; }
.blue { background-color: #64b5f6; }
.green { background-color: #4caf50; }
.orange { background-color: #ffb300; }