.container {
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    position: relative;
    overflow-x: hidden;
    // background: linear-gradient(213.32deg, #FEB9B9 7.27%, #FFF1D0 87.59%);
    background-color: rgb(247, 247, 247) !important;
padding-bottom: 300px !important;
    main {
        padding: var(--padding-sm) var(--padding-md);
        max-width: 1600px;

        @media screen and (min-width: 1600px) {
            margin: 0 auto;
        }

        @media screen and (max-width: 300px) {
            padding: var(--padding-xs);
        }
    }
}