@media only screen and (min-width:375px) and (max-width: 900px) {
    .footer-bottom {
        display: flex;
        justify-content: flex-start;
    }

    .center {
        text-align: center !important;
    }
}

@media only screen and (max-width: 800px) {
    .bg-footer {
        background-color: white;
    }
}

.bg-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    z-index: 2;
}