.button-style{
    cursor: pointer;
}

.filter-tabs{

    border-radius: 10px;
    margin-bottom: 0.5rem;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #dddee0;

    &:hover{
        background-color: #f3f4f6;
    }
}